calendar_unit.dcu
cal20000_f.dcu
cal20000.stat
cal20000.res
cal20000.exe
cal20000.dproj.local
cal20000.dproj
amor_fati.stat
amor_fati.res
amor_fati.identcache
amor_fati.dproj.local
__history/amor_fati.dpr.~2~
__history/amor_fati.dpr.~1~
__history/MainForm.pas.~2~
__history/MainForm.pas.~1~
__history/MainForm.fmx.~2~
__history/MainForm.fmx.~1~
Win32/Debug/calendar_unit.dcu
Win32/Debug/amor_fati.exe
Win32/Debug/MainForm.dcu
__history/
__recovery/
Win32/
